/* 

viewport height is 100vh 
default size of root element (html) in html is 16 px 
1 rem=16px ;

margin: 0 auto ; 
for making any container in horizontally center.\

Position properties
It is used for positioning the elements on web page 
1. static (default)
-default or initial position of the element when made is static.we can't change it

2. relative
-when we set position relative to an element, it means we are positioning it with reference 
to its current position.

3. absolute
-it means we are positioning it with reference to its nearest parent position, 
having position relative only

4. fixed
-makes the element fixed to the viewport 
(browser window)

5. sticky
-we can make a element moveable till some derised area and then make it fix after then
combination of relative and fixed

z-index
-it is used to make the elements overlap each other, which will have more index 

*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
section{
    width: 600px;
    height: 200px;
    background-color: rgb(109, 2, 2);
    margin:0 auto;
    position: relative;
    top:300px;
    border-radius: 10px 10px 200px 200px;
    z-index: 10;

}
.img3{
    width: 200px;
    margin-left:400px;
    position: relative;
    bottom: 20px;
    right: 70px;
    z-index: 5;
}
.img2{
    width: 450px;
    margin-left:450px;
    position: relative;
    bottom: 350px;
    z-index: 4;
}
.img1{
    width: 350px;
    position: relative;
    bottom: 290px;
    right:230px;
    z-index: 5;
   
}
.img4{
    width: 250px;
    position: relative;
    bottom:550px;
    left:390px;    
    z-index: 7;
}
.img5{
    width: 200px;
    position: relative;
    bottom:550px;
    left:350px;    
    z-index: 7;
}